
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  /*vertical-align: baseline;*/
  height:100%;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}





#container
{
	/*margin: 0 1px;
	background: url('../images/test.jpg');
	background-size: auto 100%;
	background-repeat: no-repeat;
    background-position: center;*/

}

#header
{
	background: #0090ff;
	
	text-align: center;
	height: 150px;
}

#header h1 { 
	font-family: Helvetica;
	margin: 0; 
	padding: 20px;
	font-size: 250%;
	color: #fff;

}

#header h2 {
	font-family: Helvetica;
	margin: 0;
	padding: 20px;
	color: #fff;
	font-size: 150%;
}

/* No navigation needed
#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }
*/

#content
{
	clear: left;
	padding: 20px;
	background: url('../images/test.jpg') #fff no-repeat center;

}

#content h3
{
	color: #fff;
	font-size: 160%;
	margin: 0 0 .5em;
	text-align: center;
}

#footer
{
	background: #0090ff;
	text-align: center;
	padding: 20px;
	height: 150px;
}
/*#footer h4
{
	text-align: right;
	padding-bottom: 20px;
}*/